@mixin transform($property:none) {
	-webkit-transform:$property;
	-moz-transform:$property;
	-ms-transform:$property;
	-o-transform:$property;
	transform:$property;
}

@mixin transform-origin($axes:50%) {
	-webkit-transform-origin:$axes;
	-moz-transform-origin:$axes;
	-ms-transform-origin:$axes;
	-o-transform-origin:$axes;
	transform-origin:$axes;
} 