@import "box-sizing";
@import "transition";
@import "gradients";

@import "quickbar-layout";
@import "quickbar-style";

$sliverH:4px;

$white:white;
$offwhite:#ECECEC;
$black:black;

$blue:#00ADD8;
$lightBlue:#87C5E1;
$darkBlue:darken($blue,20%);
$red:#EC341F;
$orange:#FC8843;
$green:#4D9C41;
$lightGreen:#ACCB4B;
$mixBlueGreen:#27853F;

/* start layout */
/* properties */
$sliverH:4px;
$barH:40px;
$buttonH:24px;
$barPadding:6px;
$buttonP:4px 8px 1px 8px;
$barOffset:4px;

@include quickbar-layout(
  $sliverH,
  $barH,
  $buttonH,
  $barPadding,
  $buttonP,
  $barOffset
);
/* end layout */

/* start style */
/* properties */
$borderB:$green;
$barBGL:rgb(20,20,20);
$barBG:rgba(20,20,20,0.96);
$barShadow:0 1px 1px rgba(0, 0, 0, 0.5);
$textColor:$blue;
$textShadow:none;
$buttonHighlight:$lightBlue;
$buttonLowLight:darken($blue,20%);
$fontWeight:normal;  
$borderBH:0;
$fontFamily:"Lucida Console", Monaco, monospace;
$fontSize:12px;

$buttonGradientFrom:$lightBlue 42%;
$buttonGradientTo:$blue 100%;

@include quickbar-style( /* call quickbar component, pass in properties */
  $textColor,
  $borderB,
  $barBGL,
  $barBG,
  $barShadow,
  $textColor,
  $textShadow,
  $buttonHighlight,
  $buttonLowLight,
  $fontWeight,
  $borderBH,
  $fontSize
); 

@include quickbar-fontfamily {
  font-family:"Lucida Console", Monaco, monospace;
}

#quickbar-wrapper {
  /*text-transform: lowercase;*/
  .quickbar {
    @include gradient( background-image, linear-gradient(45deg, $lightBlue 40%,  $blue 50%,  $green 66%, $orange 82%, $red 100% ) );
  }
}

/* add a gradient and a rollover effect */
#quickbar-wrapper .quickbar ul {
  li {
    @include transition(all, 240ms, ease-out);
    background:rgb(250,250,250);
    background:rgba(250,250,250,0.76);
    opacity:0.86;
    &:hover {
      color: $orange;
      opacity:0.99;
    }
    &:first-of-type {

    }
  }
}
/* end style */
